bots:
    token: ''
    prefix: '!'
    footer: ''
    discord-invite: ''
    bot-invite: ''
    web-hook: ''
    social-link: ''
    should_polkadot_wallet: true
    should_captcha: true
    polka_verified_role_id: 0
    polka_verified_chan_id: 0
    captcha_verified_role_id: 0
    main_guild_id: 0
    id_hubber_role_id: 0
    id_hubber_channel_id: 0

twitter:
  key: ''
  secret: ''
  bear_token: ''

logging:
  level:
    root: INFO