bots:
    token: ''
    prefix: '!'
    footer: ''
    discord-invite: ''
    bot-invite: ''
    web-hook: ''
    social-link: ''
    should_polkadot_wallet: true
    should_captcha: true
    polka_verified_role_id: 0
    polka_verified_chan_id: 0
    captcha_verified_role_id: 0
    main_guild_id: 0
    id_hubber_role_id: 0
    id_hubber_channel_id: 0
    verify_identity_channel_id: 0

twitter:
  key: ''
  secret: ''
  bear_token: ''
  #for V1.1
  consumerKey: ''
  consumerSecret: ''
  accessToken: ''
  accessTokenSecret: ''

logging:
  level:
    root: INFO

spring:
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false
  sql:
    init:
      platform: h2
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
  datasource:
    username: x1
    password: x2
    url: jdbc:h2:file:discord_bot.db
    driver-class-name: org.h2.Driver